{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Welceom to Taskmate!</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="{% static "images/bgimage.jpg" %}" class="rounded-end-circle shadow-sm" alt="Notes" width="360" height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static "images/bgimage.jpg" %}" class="rounded-5 rounded-top-0 shadow" alt="Notes" width="360" height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static "images/bgimage.jpg" %}"  class="rounded-start-pill shadow-sm" alt="Notes" width="360" height="250">
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-secondary"> Quick And Easy To use, Anytime, Anywhere</p></center>
                <center><p class="h2 mt-3">"Make your daily task list with us."</p></center>
                <center><p class="h5"> What are you waiting for?</p></center>

                <center><a href="{% url "todolist"%}"><button type="button" class="btn btn-secondary btn-lg mt-3 shadow">Let's get started</button></a></center>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

